.four-function-body {
	--key-dimension: 3.3rem;
	display: grid;
	grid-template-columns: repeat(4, var(--key-dimension));
	grid-template-rows: repeat(6, var(--key-dimension));
	grid-gap: var(--input-margin);
	padding: 1.3rem;
}
.four-function-body * {font-size: 1.3rem;}

.four-function-result {
	text-align: right;
	grid-column-end: span 4;
	padding: 0 var(--input-padding);
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	background: var(--color-primary);
	box-sizing: border-box;
}

.four-function-key {
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	background: var(--color-primary);
	cursor: pointer;
	box-sizing: border-box;
}
.four-function-operator {background: var(--color-accent);}
.four-function-key:hover {
	color: var(--color-primary);
	background: black;
}