body {margin: 0;}

body, input, button {
	font-family: var(--font1);
	outline: none;
}

input[type="radio"] {display: none;}

.drop-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-bottom-right-radius: 5px;
	border: var(--main-border) solid black;
	border-radius: var(--main-radius);
	box-shadow: 0 0 0 0 black;
	color: black;
	background: white;
	transition: all 0.15s;
	box-sizing: border-box;
}
.drop-button:hover {box-shadow: calc(var(--main-shadow)/2) calc(var(--main-shadow)/2) 0 0 black;}