:root {
	--main-font-size: 11.5px;
}

.startup-window {
	width: 80%;
	padding: 1.5rem;
}

.startup-border {padding: 3rem 2rem;}

.startup-logo {
	width: 100%;
	margin-bottom: 1rem;
}

.startup-bar {height: 1rem;}

.desktop-modules-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding: 3rem;
}

.module-spacer {display: none;}

.window {
	height: 100%;
	width: 100%;
	border: 0;
	border-radius: 0;
}

.window-body {--body-padding: 3rem;}

.folder-body {grid-template-columns: repeat(3, 1fr);}

.shape-data {flex-direction: column-reverse;}

.shape-diagram {
	margin: 0;
	margin-bottom: var(--body-padding);
}

.dropdown-info {display: none;}