.home-button {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 50px;
	width: 50px;
	font-size: 20px;
}

.card-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	filter: drop-shadow(var(--main-shadow) var(--main-shadow) 0 black);
}



/* Tabs */
.tab-container {
	display: flex;
	justify-content: center;
	height: var(--tab-height);
	width: 100%;
	margin: 0 50px;
	transform: translateY(var(--main-border));
}

.tab {
	position: relative;
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;
	height: calc(var(--tab-height) - 6px);
	width: 140px;
	font-size: var(--input-font-size);
	font-weight: 400;
	font-style: italic;
	margin-left: calc(-2 * var(--main-border));
	border: var(--main-border) solid black;
	border-top-left-radius: var(--main-radius);
	border-top-right-radius: var(--main-radius);
	background: var(--accent-light1);
	transform: translateX(var(--main-border));
	transition: height 0.15s;
	box-sizing: border-box;
	cursor: pointer;
}
.tab:hover {height: var(--tab-height);}
input[name="tabulation"]:checked + .tab {
	height: var(--tab-height);
	border-bottom: 0;
	background: white;
	z-index: 999;
}
.tab:nth-of-type(1) {z-index: 5;}
.tab:nth-of-type(2) {z-index: 4;}
.tab:nth-of-type(3) {z-index: 3;}
.tab:nth-of-type(4) {z-index: 2;}
.tab:nth-of-type(5) {z-index: 1;}



/* Actual card */
.card-meat {
	min-width: 100%;
	padding: 30px;
	border: var(--main-border) solid black;
	border-radius: var(--main-radius);
	background: white;
	box-sizing: border-box;
}

.equation {display: none;}

.card-middle {display: none;}



/* Top */
.card-top {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.title-shape {font-size: 18px;}
.title-solve {
	font-size: var(--input-font-size);
	font-style: italic;
	color: #888;
}



/* Given */
.given {
	display: flex;
	align-items: center;
	font-size: var(--input-font-size);
}

.given-title {margin-right: 10px;}

.given-select {
	display: flex;
	align-items: center;
	height: var(--input-height);
	padding-right: 12px;
	margin-left: auto;
	border: var(--input-border) solid var(--accent);
	border-radius: var(--input-radius);
	box-sizing: border-box;
	cursor: pointer;
}

.given-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 9px;
	padding-bottom: 5px;
	color: var(--accent);
}

.given-dropdown {
	position: absolute;
	display: none;
	top: calc(50% + var(--input-height)/2 + 5px);
	right: 0;
	border: 2px solid var(--accent);
	border-radius: 4px;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 999;
}

.given-option {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: calc(var(--input-height) - 2*var(--input-border));
	padding: 0 12px;
	background: white;
	box-sizing: border-box;
	cursor: pointer;
}

.given-select:hover, .given-option:hover {background: var(--accent-light1);}



/* Middle */
.shape-container {margin: 30px 0;}



/* Shape Data */
.shape-data {
	display: flex;
	align-items: center;
}

.variable-container {
	width: 260px;
	border-spacing: 5px;
}

td {
	height: var(--input-height);
	padding: 0;
}

.char {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: 'STIX General';
	font-size: 25px;
	font-style: italic;
}
.char sub {
	font-size: 18px;
	font-style: normal;
	margin-top: 10px;
}

.equal {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20px;
	font-size: 21px;
}

.field {
	height: 100%;
	width: 100%;
	font-family: var(--font1);
	font-size: var(--input-font-size);
	font-weight: 400;
	padding: 0 9px;
	border: var(--input-border) solid var(--accent);
	border-radius: var(--input-radius);
	box-sizing: border-box;
}

.decimal-setter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: var(--input-font-size);
	font-style: italic;
	padding-left: 10px;
	border: var(--input-border) solid var(--accent);
	border-radius: var(--input-radius);
	overflow: hidden;
	box-sizing: border-box;
}

.setter-toggles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.decimal-current {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	font-style: normal;
	color: black;
	user-select: none;
}

.setter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20px;
	font-size: var(--input-font-size);
	border: none;
	background: none;
	cursor: pointer;
}
.setter:hover {background: var(--accent-light1);}

.result {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: var(--font1);
	font-size: var(--input-font-size);
	padding: 0 9px;
	border: none;
	border-radius: var(--input-radius);
	background: #eee;
	box-sizing: border-box;
}

.copy {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	width: var(--input-height);
	font-size: 18px;
	padding: 0;
	border: var(--input-border) solid var(--accent);
	border-radius: var(--input-radius);
	background: white;
	cursor: pointer;
	box-sizing: border-box;
}
.copy:hover {background: var(--accent-light1);}
.fa-check {font-size: 15px;}



/* Shape Info */
.formula-container {
	display: none;
	margin-bottom: 25px;
}
.formula {
	font-size: 25px;
	margin: 0 20px;
}
.formula + .formula {margin-top: 18px;}
.MathJax_Display {margin: 0 !important;}
.MathJax:focus {
	outline: 0 !important;
	border: none !important;
}
.mi, .mn, .mo {font-family: 'STIX General' !important;}

.shape-vector {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
}

.selected text {fill: var(--accent) !important;}
.selected *:not(text) {
	stroke: var(--accent) !important;
	stroke-width: 1 !important;
}



/* Buttons */
.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	font-size: var(--input-font-size);
	line-height: 20px;
	padding: 0 var(--input-font-size);
	outline: 0;
	border: 2px solid black;
	border-radius: var(--input-radius);
	cursor: pointer;
}
.button svg {margin-right: 6px;}
.button:active {filter: brightness(0.9);}

.clear {background: #f77;}
.calculate {background: var(--accent);}