:root {
	/* Fonts */
	--main-font: 'IBM Plex Sans';
	--math-font: 'STIX General';

	/* Main */
	--main-font-size: 14px;
	--main-font-weight: 500;
	--main-border: 0.22rem;
	--main-radius: 0.8rem;
	--main-shadow: 0.5rem;

	/* Inputs */
	--input-height: 2.5rem;
	--input-padding: 0.8rem;
	--input-margin: 0.31rem;
	--input-radius: 0.4rem;

	/* Colors */
	--color-primary: #f0eadc;
	--color-accent: #f6cab3;
}