.window-body {
	--body-padding: 2rem;
	padding: var(--body-padding);
}



/* Folder */
.folder-body {
	--body-padding: 1.3rem;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}



/* Four Function */
.four-function-body {
	--body-padding: 1.3rem;
	--key-dimension: 3.3rem;
	display: grid;
	grid-template-columns: repeat(4, var(--key-dimension));
	grid-template-rows: repeat(6, var(--key-dimension));
	grid-gap: var(--input-spacing);
}
.four-function-body * {font-size: 1.3rem;}

.four-function-result {
	text-align: right;
	grid-column-end: span 4;
	padding: 0 var(--input-padding);
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	background: var(--color-primary1);
}

.four-function-key {
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	background: var(--color-primary1);
	cursor: pointer;
}
.four-function-operator {background: var(--color-accent1);}
.four-function-key:hover {
	color: var(--color-primary1);
	background: black;
}



/* Settings */



/* Guide */
.guide {
	--scroll-width: 2rem;
	width: 45rem;
}

.guide-body {
	height: 30rem;
	padding: 2rem;
	padding-right: calc(var(--body-padding) + var(--scroll-width));
}

.simplebar-track {
	width: var(--scroll-width) !important;
	border-left: var(--main-border) solid black;
	background: var(--color-primary1);
}
.simplebar-scrollbar:before {
	--margin: 0.2rem;
	top: var(--margin) !important;
	bottom: var(--margin) !important;
	left: var(--margin) !important;
	right: var(--margin) !important;
	opacity: 1 !important;
	border: var(--main-border) solid black;
	border-radius: 999rem;
	background: var(--color-primary1);
}



/* Tabs */
.window-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
}

.window-tab-container {
	display: flex;
	justify-content: center;
	padding: 0 calc(2 * var(--input-height));
	transform: translateY(var(--main-border));
}

.window-tab {
	--radius: calc((var(--main-radius) + var(--input-radius)) / 2);
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--input-height);
	border: var(--main-border) solid black;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	padding-top: var(--main-border);
	background: var(--color-accent1);
	cursor: pointer;
}
input:checked + .window-tab {
	border-bottom: 0;
	padding: 0;
	background: var(--color-primary1);
}

.window-tab:not(:first-of-type) {margin-left: calc(-1 * var(--main-border));}