body {background: var(--color-primary1);}

.container {
	--field-width: 15.3rem;
	display: flex;
	flex-direction: column;
}

.precision-row {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: var(--input-height);
	width: var(--field-width);
	opacity: 0.25;
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	padding-left: var(--input-padding);
	margin-bottom: var(--input-spacing);
	transition: all var(--main-transition);
	cursor: pointer;
	overflow: hidden;
	user-select: none;
}
.precision-row * {pointer-events: none;}

input:checked + .precision-row {
	opacity: 1;
	cursor: auto;
}
input:checked + .precision-row * {pointer-events: all;}

.precision-text {
	font-style: italic;
	margin-right: auto;
}

.setter-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-left: 0.5rem;
	border-left: calc(var(--main-border) / 2) solid black;
	background: black;
}

.setter {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(50% - var(--main-border) / 4);
	width: 1.2rem;
	font-size: 0.5rem;
	border: 0;
	background: var(--color-primary1);
	transition: all var(--main-transition);
	cursor: pointer;
}
.setter:hover {
	color: var(--color-primary1);
	background: black;
}








.field {
	height: var(--input-height);
	width: var(--field-width);
	min-width: 0;
	padding: 0 var(--input-padding);
	border: var(--main-border) solid black;
	border-radius: var(--input-radius);
	background: transparent;
	-webkit-appearance: none;
	margin-bottom: var(--input-spacing);
}

.result {background: var(--color-accent1);}