---
precision_types: [
	{
		name: 'Decimal Places',
		min: 0,
		max: 10,
		abbreviation: 'decimal'
	},
	{
		name: 'Significant Figures',
		min: 1,
		max: 64,
		abbreviation: 'sig-fig'
	}
]
---

<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
</head>

<body>

	{% for shape in site.shapes %}
	{% if forloop.first == true %}
	{% assign specific_slug = shape.shape | replace:" ","_" %}
	<div class="window ubercalc flex-show" data-shape="{{ specific_slug }}">

		<div class="window-head">
			<div class="window-title-bar">
				<div class="close-btn">
					<div class="close-peg"></div>
					<div class="close-peg"></div>
				</div>
				<span class="window-title">{{ shape.shape }} ~ ÜberCalc</span>
			</div>
		</div>

		<div class="window-body calc-body">
			<div class="shape-data">
				<div class="variable-container">
					{%- for property in shape.properties %}
					<div
						class="variable-row"
						data-char="{{ property.char }}"
						data-property="{{ property.name | replace:" ","_" }}"
					>
						<div class="char">$${{ property.char }}=$$</div>
						<input
							class="field"
							type="text"
							placeholder="{{ property.name | capitalize }}"
							autocomplete="off"
						>
					</div>
					{%- endfor %}

					{% include precision.html %}
				</div>

				<div class="shape-diagram"></div>
			</div>

			<div class="btn-container">
				<button class="btn calculate" id="ubercalc_{{ specific_slug }}"><i class="fas fa-calculator"></i>Calculate</button>
				<button class="btn clear"><i class="fas fa-trash"></i>Clear values</button>
			</div>
		</div>

		<script>
			$(".ubercalc .calculate").click(function() {
				var calcBody = $(this).closest(".calc-body");
				var scope = {};
				var formulas = {
					{%- for property in shape.properties %}
					{{ property.name }}: [
						{%- for given in property.givens %}
						"{{ given.formula }}",
						{%- endfor %}
					],
					{%- endfor %}
				}

				calcBody.find(".field").each(function() {
					if ($(this).val() != "") {
						var char = $(this).parent().attr("data-char");
						scope[char] = $(this).val();
					}
				});

				var scopeChars = Object.keys(scope);

				calcBody.find(".field").each(function() {
					if ($(this).val() == "") {
						var property = $(this).parent().attr("data-property");
						var propFormulas = formulas[property];
						var rightFormula = propFormulas.filter(x => x.includes(scopeChars));
						var preFormattedResult = math.evaluate(rightFormula, scope);

						if (preFormattedResult == "Infinity") formattedResult = "Undefined";
						else if (preFormattedResult == "NaN") formattedResult = "Error";
						else if (preFormattedResult == "0") formattedResult = "";
						else {
							if ($("#{{ specific_slug }}_decimal_precision").is(":checked")) {
								var precision = calcBody.find(".decimal-row .current-places").html();
								formattedResult = math.round(preFormattedResult, precision);
							}
							else {
								var precision = calcBody.find(".sig-fig-row .current-places").html();
								formattedResult = math.format(preFormattedResult, precision);
							}
						}

						$(this).val(formattedResult);
					}
				});
			});

			/* $('.ubercalc .field').on('propertychange input', function() {
				var calcBody = $(this).closest(".calc-body");
				calcBody.find(".field").not(this).val("");
			}); */
		</script>
	</div>
	{% endif %}
	{% endfor %}

	<script src="../js/initialize.js"></script>
	<script src="../js/propcalc.js"></script>
</body>

</html>