<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Geovanni</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/logos/favicon-32.png">
<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/img/logos/favicon-32.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/logos/favicon-300.png">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/variables.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/modules.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/calculators.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/windows.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/css/mobile.css">
<style>
	.flex-show {display: flex;}
	.grid-show {display: grid;}
</style>

<!-- Plugins -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.1/math.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=default"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.5/simplebar.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.5/simplebar.min.js"></script>