---
layout: base
---

{{ content }}

<style>
	.shape-vector svg {height: {{ page.shape-height }};}
</style>

<div class="card-container">
	<a class="drop-button home-button" href="{{ site.baseurl }}/"><i class="fas fa-home"></i></a>

	<div class="card">
		<div class="tab-container">
			{%- for equation in page.equations %}
			<input type="radio" name="tabulation" id="{{ equation.solveFor.name }}"
			{%- if forloop.first == true -%}
			{{ raw }} checked{{ raw }}
			{%- endif -%}
			>
			<label class="tab" for="{{ equation.solveFor.name }}">{{ equation.solveFor.name }}</label>
			{% endfor %}
		</div>

		<div class="card-meat">
			{% for equation in page.equations %}
			<div class="equation {{ equation.solveFor.name }}">
				<div class="card-top">
					<div class="calc-title">
						<span class="title-shape">{{ page.shape }} Calculator</span><br>
						<span class="title-solve">Solving for {{ equation.solveFor.name }}</span>
					</div>

					<div class="given">
						<span class="given-title">Given:</span>

						<div class="given-select">
							<i class="given-icon fas fa-sort-down"></i>
							{%- for given in equation.givens limit:1 %}
							<div class="given-current">{{ given.terminology }}</div>
							{%- endfor %}
						</div>

						<div class="given-dropdown">
							{%- for given in equation.givens %}
							<div class="given-option">{{ given.terminology }}</div>
							{%- endfor %}
						</div>
					</div>
				</div>

				{% for given in equation.givens %}
				<div class="card-middle given-{{ given.terminology | replace: ' ', '-' }}">
					<div class="shape-container">
						<div class="formula-container">
							{%- if given.specialVariable %}
							<div class="formula">$${{ given.specialVariable.mathjax }}$$</div>
							{%- endif %}
							<div class="formula">$${{ given.mathjax }}$$</div>
						</div>

						<div class="shape-data">
							<table class="variable-container">
								{%- for variable in given.variables %}
								<tr>
									<td><div class="char">{{ variable.char }}</div></td>
									<td><div class="equal">=</div></td>
									<td colspan="2"><input class="field" type="text" placeholder="{{ variable.name }}" autocomplete="off"></td>
								</tr>
								{%- endfor %}
								<tr>
									<td colspan="2"></td>
									<td colspan="2">
										<div class="decimal-setter">
											Decimal Places
											<div class="setter-toggles">
												<button class="setter dec" tabindex="-1"><i class="fas fa-caret-left"></i></button>
												<span class="decimal-current">2</span>
												<button class="setter inc" tabindex="-1"><i class="fas fa-caret-right"></i></button>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td><div class="char">{{ equation.solveFor.char }}</div></td>
									<td><div class="equal">=</div></td>
									<td><input class="result" type="text" placeholder="{{ equation.solveFor.name }}" autocomplete="off"></td>
									<td><button class="copy"><i class="far fa-copy"></i></button></td>
								</tr>
							</table>

							<div class="shape-vector"></div>
						</div>
					</div>

					<div class="button-container">
						<button class="drop-button button calculate" onclick="calc{{ equation.solveFor.name }}Given{{ given.terminology | replace: ' ', '' }}()"><i class="fas fa-calculator"></i>Calculate</button>
						<button class="drop-button button clear"><i class="fas fa-trash"></i>Clear values</button>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({showMathMenu: false});
	MathJax.Hub.Queue(() => $('.formula-container').show());
</script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script>
	$.get('../img/{{ page.shape | downcase }}/{{ page.shape | downcase }}.svg', function(data) {
		$('.shape-vector').append(data);
	}, 'html');

	{% for equation in page.equations %}
	{%- for given in equation.givens %}
	function calc{{ equation.solveFor.name }}Given{{ given.terminology | replace: ' ', '' }}() {
		let {% if given.specialVariable %}preScope{% else %}scope{% endif %} = {
			{%- assign count = -1 -%}
			{%- for variable in given.variables %}
			{{ variable.char }}: math.bignumber($('.field:visible').eq({% assign count = count | plus:1 %}{{ count }}).val()),
			{%- endfor %}
		}
		{%- if given.specialVariable %}
		let scope = {
			{%- assign count = -1 -%}
			{%- for variable in given.variables %}
			{{ variable.char }}: math.bignumber($('.field:visible').eq({% assign count = count | plus:1 %}{{ count }}).val()),
			{%- endfor %}
			{%- if given.specialVariable %}
			{{ given.specialVariable.char }}: math.evaluate('{{ given.specialVariable.formula }}', preScope)
			{%- endif %}
		}
		{%- endif %}
		var result = math.evaluate('{{ given.formula }}', scope);
		var precision = $('.decimal-current').html();
		if (result.toString().indexOf('e') > 0) result = result.toPrecision(1 + parseInt(precision));
		else result = math.round(result, precision);
		$('.result:visible').val(result);
	}
	{%- endfor %}
	{% endfor %}
</script>